<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uulm.dbis.quartett42"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom_launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Quartett42"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewGameActivity"
            android:label="Quartett42 Neues Spiel"
            android:screenOrientation="portrait">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="Quartett42 Gallerie"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="Quartett42 Einstellugen"
            android:screenOrientation="portrait">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="Quartett42 Spiel"
            android:screenOrientation="portrait">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".ViewDeckActivity"
            android:label="Quartett42 Deckansicht"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GalleryActivity" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="Quartett42 Statistiken"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".HighscoreActivity"
            android:label="Quartett42 Highscores"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="Quartett42 Info"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="Quartett42 Anleitung"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".CompareCardsActivity"
            android:label="Quartett42 Vergleich"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".GameEndActivity"
            android:label="Quartett42 Spielende"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.MainActivity" />
        </activity>
        <activity
            android:name=".LoadOnlineDecksActivity"
            android:label="Quartett42 Shop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uulm.dbis.quartett42.GalleryActivity" />
        </activity>
    </application>

</manifest>